
h1{
  color: #0c81ff;
  font-size: 100px;
  text-align: center;
  font-family: system-ui
}
p{
  color: #00ff15;
  font-size: 25px;
  font-family: system-ui;
    text-align: center;

}

body{
  background-color: #000;
}
img {
	border-radius: 25px;
	max-width: 30%;
  display: block;
margin-left: auto;
margin-right: auto;
}
h2{
  color: #d400ff;
  font-family: system-ui;
  font-size: 40px;
    text-align: center;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
h3{
  color: #ff6e00;
  font-size: 75px;
  text-align: center;
  font-family: system-ui
}
@keyframes rainbow {
  0% {background-color: #ff0000;}
    14% {background-color: #faff00;}
    28% {background-color: #000000;}
      42% {background-color: #9d00ff;}
        56% {background-color: black;}
}
@keyframes change {
  0% {transform: translateX(-100px);}
  50% {transform: translate(100px);}
}
#cisco
animation-name: rainbow;
animation-duration: 10s;
animation-count: infinite;
