h1{
  text-align: center;
  font-size: 80px;
  color: #9e9e9e;
}
h2{
text-align: center;
font-size: 40px;
color: #9e9e9e;
}
h1{
  background-color: #7ed6e5;
}
h2{
  background-color: #7ed6e5;
}
.header {
  background-color:  #7ed6e5;
}
body{
  background-color: #29d81a
}
