
h1{
  color: #0c81ff;
  font-size: 100px;
  text-align: center;
  font-family: system-ui
}
p{
  font-size: 25px;
  font-family: system-ui
}
p{
  font-family: system-ui
}
body{
  background-color: #f2ff00;
}
